<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />

    <link rel="stylesheet" href="/css/main.css" />
    <title>Chat</title>
  </head>
  <body>
    <div id="app">
      <div class="chat">
        <div class="chat__inner">
          <aside class="chat__aside aside">
            <div class="aside__header">
              <div class="aside__drawer chat-drawer">
                <el-button
                  class="chat-drawer__button"
                  type="text"
                  icon="el-icon-s-fold"
                  @click="drawer = true"
                >
                </el-button>
                <el-drawer
                  title="I am the title"
                  :visible.sync="drawer"
                  :direction="direction"
                  :before-close="handleClose"
                >
                  <span>Hi, there!</span>
                </el-drawer>
              </div>
              <div class="aside__search search">
                <el-input
                  class="search--input"
                  placeholder="Search"
                  size="medium"
                  v-model="searchInput"
                  clearable
                >
                </el-input>
              </div>
            </div>
            <div class="aside__body">
              <div class="chat-list">
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
                <div class="chat-list__item chat-list-item">
                  <div class="chat-list-item__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="chat-list-item__body">
                    <div class="chat-list-item__info">
                      <span class="chat-list-item__name title-name">
                        public</span
                      >
                      <span class="chat-list-item__time message-date">
                        2 days ago</span
                      >
                    </div>
                    <div class="chat-list-item__about">
                      <p
                        class="chat-list-item__last-message message-text message-text--ellipsis"
                      >
                        Lorem ipsum, dolor sit amet consectetur adipisicing
                        elit. Sapiente, obcaecati inventore, iste animi nihil
                        praesentium quas libero, sequi natus ullam ex architecto
                        quae eaque consequuntur dolorum ipsa nam quam itaque?
                      </p>
                      <el-badge
                        :value="200"
                        :max="999"
                        type="info"
                        class="chat-list-item__badge"
                      >
                      </el-badge>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
          <main class="page">
            <div class="page__header">
              <div class="chat-info">
                <span class="chat-info__name title-name">Public</span>
                <p class="chat-info__description">4 members</p>
              </div>
            </div>
            <div class="page__body">
              <div class="messages">
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message message--is-owner">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message message--is-owner">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message message--is-owner">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
                <div class="messages__item message message--is-owner">
                  <div class="message__avatar">
                    <el-avatar
                      src="https://cube.elemecdn.com/0/88/03b0d39583f48206768a7534e55bcpng.png"
                    ></el-avatar>
                  </div>
                  <div class="message__body">
                    <span class="message__owner title-name">Denis</span>
                    <p class="message__text message-text">
                      Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                      Deleniti quasi minima in laboriosam. Facilis ut in nobis
                      eos. Eveniet eius eligendi vitae sapiente ipsa consequatur
                      adipisci laboriosam delectus non harum.
                    </p>
                    <span class="message__date message-date">20:55</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="page__footer">
              <div class="chat-message-form">
                <el-input
                  class="chat-message-form__text"
                  v-model="text"
                  type="textarea"
                  resize="none"
                  placeholder="Write a message..."
                ></el-input>
                <el-button
                  class="chat-message-form__button-send"
                  type="default"
                  icon="el-icon-s-promotion"
                  circle
                ></el-button>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
  <!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: function () {
        return {
          visible: false,
          searchInput: "",
          drawer: false,
          direction: "ltr",
        };
      },
      methods: {
        handleClose(done) {
          this.$confirm("Are you sure you want to close this?")
            .then((_) => {
              done();
            })
            .catch((_) => {});
        },
      },
    });
  </script>
</html>
